* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('https://wallpapercave.com/wp/7fsIJre.png') ;
}

li {
  display: block;
  text-decoration: none;
}

.App {
  text-align: center;
  padding: 20px;
}

.mainTitle {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 42px;
}

.pokeList {
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 78vw;
}

.pokemon_container {
  background-color: rgb(240, 81, 81);
  margin: 10px;
  width: 200px;
  height: 200px;
  align-items: center;
  border: 3px solid black;
  border-radius: 50%;
}

.pokemon_container:hover{
  background-color: rgb(255, 255, 255);
}

.name {
  padding: 10px;
  text-transform: capitalize;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(75, 75, 75);
  transform: translate(0, -20px);
  border-radius: 20px;
}

.types {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  transform: translate(0, -25px);
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: rgb(190, 141, 141);
  height: 30px;
  border-radius: 10px;
}

.favourite {
  background-color: rgb(236, 240, 23);
}

.favourite:hover {
  background-color: rgb(201, 244, 245);
}